.benefits {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 94px auto 0px auto;
  display: flex;
  justify-content: space-between;

  li::before {
    display: block;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: center;
    width: 270px;
    height: 120px;
    background: $pic-feature-wrap-color;
    border-radius: 4px;
    margin-right: 30px;
  }

  li:nth-child(1)::before {
    background-image: url(../img/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  li:nth-child(2)::before {
    background-image: url(../img/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  li:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  li:nth-child(4)::before {
    background-image: url(../img/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0px;
  }
}

.benefits {
  h3 {
    @extend .h3-font;
    color: $primary-text-color;
    margin-top: 30px;
  }
  p {
    @extend .some-font;
    color: $text-color;
    margin-top: 10px;
  }
}

.line-main {
  margin-top: 77px;
}
