.web-studio {
  margin: 24px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.studio {
  color: $primary-text-color;
}
